{{ define "make_imports_available"}}
	{{ if eq . "fix" }} fix_util = __ww__fix_util{{ else }}
	command_util = __ww__command_util
	{{ if eq . "fs" "os" }}fs_util = __ww__fs_util{{ end }}
	{{ if eq . "os" }}os_util = __ww__os_util{{ end }}
	{{ end }}
{{ end }}

from collections import defaultdict
from command_util_build import commandutil
from fs_util_build import fsutil
from os_util_build import osutil
from fix_util_build import fixutil

# All of these are lazy...so initializing them is fine
__ww__os_util = osutil.setup('{{ .DockerImage }}')
__ww__fs_util = fsutil.setup('{{ .OciImage }}')
__ww__command_util = commandutil.setup('{{ .DockerfilePath }}')
__ww__fix_util = fixutil.setup('{{ .DockerfilePath }}')

__ww__success_per_rule_id = defaultdict(lambda: false)
__ww__autofix_per_rule_id = defaultdict(lambda: false)

{{ range $index, $element := .Rules }}
__ww__success_per_rule_id["{{ $element.Id }}"] = True
__ww__autofix_per_rule_id["{{ $element.Id }}"] = False

def validate_{{ $index }}():
	{{ template "make_imports_available" $element.Target }}
	{{ range $element.FormattedInstruction }}
	{{ . }}{{ end }}

{{ if and $element.FixInstruction .NoFix }}
def fix_{{ $index }}{}:
	{{ template "make_imports_available" "fix" }}
	{{ range $element.FormattedFixInstruction }}
	{{ . }}{{ end }}
{{end}}

try:
	validate_{{ $index }}()
except AssertionError as ae:
	print(f"WW_KEY='{{ $element.Id }}'\t'WW_ASSERT_ERROR={ae}")
	__ww__success_per_rule_id["{{ $element.Id }}"] = False
	{{ if and $element.FixInstruction .NoFix  }}try:
		fix_{{ $index }}()
		__ww__autofix_per_rule_id["{{ $element.Id }}"] = True
	except Exception as e:
		print(f"WW_KEY='{{ $element.Id }}'\tWW_FIX_ERROR={e}")
		pass{{ end }}

except Exception as e:
	__ww__success_per_rule_id["{{ .Id }}"] = False
	print(f"WW_KEY='{{ $element.Id }}'\tWW_ERROR={e}")
{{ end }}

for key in __ww__success_per_rule_id.keys():
	print(f"WW_KEY='{key}'\tWW_STATUS={__ww__success_per_rule_id[key]}\tWW_AUTOFIX={__ww__autofix_per_rule_id[key]}")
